footer {
	background-color: #00FF00;
	position: absolute;
	display: flex;
	place-content: center;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 100%;
	bottom: 0px;
}
